#root {
  width: 100%;

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.sunblock-number {
  font-weight: bold;
  font-size: large;
  color: white;
}

.card {
  color-scheme: light dark;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 2%;
  padding: 10px;
}

.cards-container {
  direction: flex;
  flex-direction: column;
  min-width: 20%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }
  .cards-container {
    min-width: 80%;
  }
}

.read-the-docs {
  color: #888;
  margin-top: 100px;
}

p {
  margin: 0px;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
